background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;

* {
  margin: 0'
}


html {
  font-size: 62.5%;
}

body {
  padding-bottom: 3rem;
  width: 100%;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #414345;
}

footer {
  padding: 1rem;
  height: auto;
  width: 100%;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  z-index: 1;
  text-align: center;
  color: #232526;
  font-size: 1.3rem;
  box-shadow: 0px -1px 8px 0 rgba(0,0,0,0.12), -1px 1px 4px 0 rgba(0,0,0,0.08);
}

footer p {
  width: 100%;
  margin: 0 auto;
}

footer a {
  text-decoration: none;
  transition: .25s all;
}

footer a:hover {
  color: #265dc2;
  text-decoration: none;
}

/* nav styles, mosty bootstrap overrides */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar {
  padding-bottom: 1rem;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0rem;
  height: auto;
}

.navbar-brand img {
  width: 7rem;
}

.navbar-brand h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  height: auto;
}


.navbar-toggler {
  font-size: 1.7rem;
  /* background-color: #265dc2; */
  color: #265dc2;
}

.navbar-toggler span {
  color: white;
}

.navbar-nav {
  margin-top: 1rem;
}

.nav-link {
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 0 .5rem;
  padding: .5rem 1.5rem;
  transition: .25s all;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
  padding: .5rem 1rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  background-color: #265dc2;
  color: white;
}

/* main section, page wide styles */

.shadow {
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.12),
  0 2px 4px 0 rgba(0,0,0,0.08);
}

.myRounded {
  border-radius: .5rem;
}

main {
  margin-top: 2rem;
  padding: 2rem;
}

h2 {
  color: #265dc2;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}


/* home view */

.home_intro {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #cbcdce, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #cbcdce, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-indent: 3rem;
  padding: .5rem;

}

.home_intro div {
  background-color: white;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.home_intro p {
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.home_intro a {
  text-align: center;
  background-color: #265dc2;
  color: white;
  padding: 1rem;
  margin: 0 auto;
  text-indent: 0;
  transition: .3s all;
}

.home_intro a:hover {
  background-color: #414345;
  color: white;
  text-decoration: none;\
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  width: 100%;
}

.card-container .card {
  width: 25rem;
  margin: 1rem;
  transition: .3s all;
  cursor: pointer;
}

.card-container .card:hover {
  transform: translateY(3px);
}

.card-title {
  font-size: 2rem;
  margin-bottom: 0;
}

.provided {
  margin-top: -3px;
  color: #414345;
}

.card-body {
  border-top: 1px solid lightgrey;
}

/* equip pop up */

#equipCard_popUp {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #cbcdce, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #cbcdce, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  height: 50rem;
  width: 90%;
  max-width: 62.5rem;
  padding: 1rem;
  margin: 1rem auto;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
  overflow-y: auto;
 
}

#equipCard_popUp .card {
  width: 90%;
  /* min-height: 100%; */
  overflow-y: auto;
}

#equipCard_popUp .card:hover {
  transform: none;
}

#equipCard_popUp .card img {
  width: 75%;
  margin: 0 auto;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: .25s all;
}

.closeBtn:hover {
  color: #265dc2;
}