<main id="dealership" class="animated fadeIn">
 <h2>Dealership</h2>
  
  <h3>Cars of the dealership</h3>
     
  <section class="info">
      <h4>Sources:</h4>
      <p class="myRounded">
          Cars from both BMW and Mercedes-Benz come through detail and photo at the Mercedes building. These cars can come through several means and you'll hear these often:
        </p>
      <ul>
        <li>New</li>
        <li>Trade in</li>
        <li>Auction</li>
        <li>Dealer Trade</li>
      </ul>
    </section>

    <section class="info">
      <h4>Loaners:</h4>
      <p>You'll often encounter loaners and retired loaners - refered in photography notes as 'RL'</p>
      <ul id="loaners">
        <li>A loaner is a car that the dealership provides to customers while there car is being serviced. </li>
        <li>These are brand new cars. Once they hit around 4,000 miles, they are retired from loaner status and put into inventory to be sold. They are now referred to as a 'retired loaners'</li>
        <li>They will be marked as 'new' on the car key tag, the new car manager handles them, though they have been driven
        </li>
        <li>Mercedes retired loaners have <span class="green">green</span> key tags, BMW RL have <span class="white">white</span> key tags.</li>
    </ul>
  </section>
  
  <section class="info">
    <h4>Phases:</h4>
    <p>When we acquire cars, they go through several phases while in our system. They align closely with what you'll see on <a>Rapid Recon</a>, where we track where used used cars in these phases.</p>
    <ul id="phases">
      <li>Service</li>
      <li>Body Shop (if needed)</li>
      <li>Detail</li>
      <li>Photo</li>
      <li>Frontline (on the lot or overflow lot)</li>
      <li>Once sold, it comes back through detail for a final touch up</li>
    </ul>
  </section>
  
  <section class="info">
      <h4>Miscellaneous:</h4>
      <p>While photo is usually the last step in the process before the car is put on the frontline, there are some times caveats of which to be aware</p>
      <ul id="misc">
        <li>Black zipties on the wheels means that the rims are getting repaired or replaced. Try to avoid close ups of these wheels and if the zip ties are sticking out, tuck them back as much as you can for photos</li>
        <li>Sometiems cars go through additional body shop work <em>after</em> photos.</li>
        <li>If a car has exterior damage and is going back through the body shop, photograph the full exterior as normal</li>
        <li>If there is signicant damange, review with the sales manager if they want the photo displayed online. Often, that damaged area will be replaced soon and it's better to not upload that photo</li>
        <li>After the car has been fixed at the body shop, you'll be asked to re-photograph it. If the damage was limited to one isolated area, you'll only need to reshoot the angles from which you could see the prior damage. If you aren't sure of which angles these are, re-shoot the full exterior.</li>
      </ul>
    </section>

  </main>