<main id="equip" class="animated fadeIn">

<h2>Equipment</h2>

  <section class="equip card-container myRounded ">
      <div ng-repeat="item in $ctrl.equip" class="card myRounded shadow" ng-click="$ctrl.equipPopShow(item);">
          <img class="card-img-top" src={{item.equipImgSrc}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.equipType}}</h5>
            <p class="provided">{{item.equipProvide}}</p>
            <p class="card-text">{{item.equipText | limitTo: 150}}  ...</p>
            <a class="btn btn-primary">Learn More</a>
          </div>
        </div>
  </section>

  <section id="equipCard_popUp" class="equip card-container myRounded shadow">
      <i class="fas fa-times-circle closeBtn" alt="close window" ng-click="$ctrl.equipPopHide();"></i>
      <div class="card myRounded shadow" style="width: 25rem;">
          <img class="card-img-top" src={{$ctrl.clickedItem.equipImgSrc}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{$ctrl.clickedItem.equipType}}</h5>
            <p class="provided">{{$ctrl.clickedItem.equipProvide}}</p>
            <p class="card-text">{{$ctrl.clickedItem.equipText}}</p>

          </div>
        </div>
  </section>

</main>