<main id="home" class="animated fadeIn">
  <!-- <h2>Home</h2> -->

  <section class="home_intro myRounded ">
    <div>
    <p class="myRounded">Welcome to BMW & Mercedes-Benz of Ann Arbor. This application was created to familiarize you with the tools, processes, and best practices for producing quality inventory photographs and mananaging an efficient workflow. While you are welcome to fine-tune the system that best works for you, you are encouraged to use this resource to get up and going and to refer to if you get stuck.
    </p>

    <a href="#!/equip" class="myRounded" ng-click="$ctrl.getStarted();">Get Started!</a>
  </div>

  </section>

</main>