<main class="animated fadeIn studio">
  <h2>Studio</h2>

  <section class="container intro">
    <div class="row">
      <div class="col-xs-12">
      <p>The basement area is shared by the photographer and the detail company. Several other departments including sales often bring cars down to the basement as well. Keeping the cars in the basement organized, parked sensibly, and communicating with the other departments will keep your process more efficient, which is good for everyone!</p>

      <p>Ideally, cars that have had detail completed and are ready for pictures will be parked in the same 1-2 rows, facing towards the photo bay, and will have a green 'PICS' sign placed in the drivers side exterior windshield. Sometimes detail forgets the sign, so if a car looks very clean, has paper floormats in it, or it is near the 'photos' phase in <a href="#">Rapid Recon</a>, verify with detail that it is fully ready and add it to your queue.</p>
    </div>
    </div>

  </section>

  <div id="carouselExampleControls" class="carousel slide shadow" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="images/cars/1.jpg" alt="First slide">
        </div>
        <div class="carousel-item" ng-repeat="car in $ctrl.carImages">
          <img class="d-block w-100" src={{car}} alt="Second slide">
        </div>

      </div>
      <a target="_self" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <img src="images/icons/prevarrow.svg" class="carousel-arrow">
        <span class="sr-only">Previous</span>
      </a>
      <a target="_self" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <img src="images/icons/nextarrow.svg" class="carousel-arrow">
          <!-- <span class="carImg_arrow carousel-control-next-icon" aria-hidden="true"></span> -->
        <span class="sr-only">Next</span>
      </a>
    </div>


</main>