<!-- Modal -->
<div class="modal fade workflow-modal" id="workflow-modal_getStarted" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <i aria-hidden="true" class="fas fa-times-circle closeBtn" alt="close window""></i>
          </button>
        </div>

        <div class="modal-body">

          <div class="test shadow">
              <p>Select which dealership you want to view.</p>
                <p>BMW = BMWANNARBOR</p>
          </div>

         <img src="../images/desktop/rr_main.png" class="workflow-modal__img" alt="Screenshot of rapid recon application">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- end of modal -->

<main class="animated fadeIn">
  <h2>Workflow</h2>

  <!-- accordion starts -->
  <div id="accordion">
      <div class="card">
        <div class="card-header" id="rapidReconHeading">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#rapidRecon" aria-expanded="true" aria-controls="rapidRecon">
              Rapid Recon
            </button>
          </h5>
        </div>
    
        <div id="rapidRecon" class="collapse show" aria-labelledby="rapidReconHeading" data-parent="#accordion">
          <div class="card-body">
              <section class="info">
                  <h3>Rapid Recon</h3>
                
                    <p class="myRounded">Rapid Recon is a web based software that both dealerships use to track and communicate about pre-owned cars in inventory. Note that it is only for pre-owned and not new cars. This can be used in conjunction with the google sheets info to help you plan what cars need to be photographed, what cars to expect the next day, and to communicate to others that you've finished photographing a car. See the below modules for getting started with Rapid Recon.
                    </p>
                </section>
  <!-- Button trigger modal -->

        <section class="workflow-container" data-toggle="modal" data-target="#workflow-modal_getStarted" >
            <div class="thumbnail__wrapper">
              <img class="workflow__thumnbail shadow" src="../images/desktop/rr_main.png">
            </div>
        
            <div class="thumbnail__wrapper" data-toggle="modal" data-target="#exampleModalLong" >
              <img class="workflow__thumnbail shadow" src="../images/desktop/rr_stepDropdown.png">
            </div>
        
        
            <div class="thumbnail__wrapper" data-toggle="modal" data-target="#exampleModalLong" >
              <img class="workflow__thumnbail shadow" src="../images/desktop/rr_stepDropdown.png">
            </div>
          </section>
                
          </div>
        </div>
      </div>
      <!-- end of first accordion item -->
      <div class="card">
        <div class="card-header" id="vautoHeading">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#vauto" aria-expanded="false" aria-controls="vauto">
              vAuto
            </button>
          </h5>
        </div>
        <div id="vauto" class="collapse" aria-labelledby="vautoHeading" data-parent="#accordion">
          <div class="card-body">
              <section class="info">
                  <h3>vAuto</h3>
                  <p>
                      vAuto is an online software that you will use for uploading photos. Images uploaded here appear on the dealerships websites as well as various third party auto sales websites. It sometimes takes a full day for images to appear on websites outside of vAuto, so if a salesperson needs photos immediately, you will need to send them via email, dropbox, etc.
                    </p>
                </section>
          </div>
        </div>
      </div>
      <!-- end of vAuto accordion card -->
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Lightroom
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>

</main>